 /* The animation code */
@keyframes animatedSquare {
  0% {background-color: rgb(0, 255, 221);
      transform: rotate(90deg);}
  75% {background-color: blue;
      border-radius: 100%;}
  100% {background-image: url("/img/linkedin.png");
    transform: translateY(90px);}
}

/* The element to apply the animation to */
.div:hover {
  width: 161px;
  height: 224px;
  background-color: rgb(0, 255, 221);
  animation-name: animatedSquare;
  animation-duration: 1s;
  animation-iteration-count: infinite;    
  animation-timing-function: ease-in;
  animation-direction: alternate;
  border: none;
}

.div {
  border: 10px;
  border-style: dotted;
  border-color: rgb(0, 255, 221);
  height: 224px;
  width: 161px;
  padding: 0rem 2rem;
  margin: 0rem 4rem;
}
.div img {
  width: 0px;
  height: 0px;
}

/* H1 */
h1 {
  font-family: 'DM Sans', sans-serif;
}