 /* The animation code */
@keyframes animatedSquare {
  0% {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;
      transform: rotate(90deg);}
  75% {background-color: green;
      border-radius: 100%;}
  100% {background-image: url("/css-animation/img/linkedin.png");}
}

/* The element to apply the animation to */
div {
  width: 224px;
  height: 224px;
  background-color: red;
  animation-name: animatedSquare;
  animation-duration: 2s;
  animation-iteration-count: infinite;    
  animation-timing-function: ease-in;
  animation-direction: alternate;
} 